<div class="header-container">

  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="navbar-brand navbar-brand-width">
      <a class="navbar-item" [routerLink]="'/link'">
        <img src="assets/img/logo_exozet_colored.svg">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link text-uppercase" [routerLink]="'/link'">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" [routerLink]="'/link'">Kontakt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" [routerLink]="'/link'">Impressum</a>
        </li>    
      </ul>
    </div>  
  </nav>

</div>  

