<div class="right-container">
  <div class="intern-list-title">
    Interne Linkliste
  </div>

  <ul class="intern-list-links">
    <li><a class="special-link" [routerLink]="'/link'">Link Nummer 1</a></li>
    <li><a class="special-link" [routerLink]="'/link'">Link Nummer 2</a></li>
    <li><a class="special-link" [routerLink]="'/link'">Link Nummer 3</a></li>
  </ul>

  <div class="contact-title">
    Kontakt
  </div>

  <div class="contact-address">
    <p>Exozet Berlin GmbH</p>
    <p>Platz der Luftbrücke 4-6</p>
    <p>12101 Berlin</p>
  </div>

  <div class="contact-data">
    <p><img src="assets/img/phone.svg" alt="phone">Tel.: +49 (0)30 24 65 60 - 0</p>
    <p><img src="assets/img/mail.svg" alt="mail">E-Mail: <a class="special-link" href="mailto:info@exozet.com">info@exozet.com</a></p>
  </div>

  <div class="teaser-title">
    Image Teaser
  </div>

  <div class="teaser-container">
    <img class="teaser-img" src="assets/img/photo2.png" alt="teaser">
    <div class="teaser-text">
      <p>Es gibt im Moment in diese Mannschaft, oh einige Spieler!</p>
      <button class="btn" [routerLink]="'/link'">Mehr lesen</button>
    </div>
  </div>
</div>
